# ============================================================================
# Aliases
# ============================================================================
# Custom command aliases.

{{- if eq .machine.type "work" }}
# ----------------------------------------------------------------------------
# Claude
# ----------------------------------------------------------------------------
alias claude-ci='CLAUDE_CONFIG_DIR=~/.claude-ci claude'
{{- end }}
