#!/usr/bin/env bash

{{- $brewExists := lookPath "brew" }}
{{- if not $brewExists }}

set -euo pipefail

# Install Homebrew (will prompt for password if needed)
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end }}
