#!/usr/bin/env bash

{{- if eq .chezmoi.os "darwin" }}
{{- $brewExists := lookPath "brew" }}
{{- if not $brewExists }}

set -euo pipefail

# Install Homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end }}
{{- end }}
