[tools]
bun = "latest"
go = "latest"
java = "temurin-21"
node = "latest"
python = "latest"
ruby = "latest"
rust = "latest"
uv = "latest"

"npm:@biomejs/biome" = "latest"
"npm:corepack" = "latest"
"npm:npkill" = "latest"
"npm:npm-check-updates" = "latest"
"npm:sort-package-json" = "latest"
{{- if eq .machine.type "private" }}
"npm:@togglhq/cli" = { version = "latest", trust_policy_excludes = ["skills@1.5.2"] }
{{- end }}
"npm:vercel" = "latest"

"pypi:litellm" = { version = "latest", extras = ["proxy"] }

[settings]
idiomatic_version_file_enable_tools = ["node"]
