# This is Git's per-user configuration file.
[user]
	name = Rasmus Nørskov
{{- if eq .machine.type "work" }}
	email = rn@onskeskyen.dk
{{- else }}
	email = rasmus@norskov.org
{{- end }}
{{- if eq .machine.type "work" }}
[includeIf "gitdir:~/Code/rhnorskov/"]
	path = ~/.config/git/config-personal
{{- else }}
[includeIf "gitdir:~/Code/gowish/"]
	path = ~/.config/git/config-work
{{- end }}
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[alias]
 	co = checkout
 	br = branch
 	ci = commit
 	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[core]
	editor = code --wait

[init]
	defaultBranch = main
[wt]
	basedir = ../{gitroot}.worktrees
	copyignored = true
